@model List<CarListApp.Models.Car>

<html>
<head>
</head>
<body>
    <h1>Search</h1>
    <form action="/search" method="get">
        <label for="plates">Plate: </label>
        <input maxlength="7" pattern="[A-Za-z1-9]{0-7}" type="text" id="Plate" name="Plate" />
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <p><a href="/search/police=1">Police</a> - <a href="/search/diplomat=1">Diplomat</a></p>
    @{
        if (@Model != null)
        {
            <table border="1">
                <thead>
                    <tr>
                        <th>Licence Plate</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Plate</td>
                            <td><a href="/search/@item.Car_brand">@item.Car_brand</a></td>
                            <td>@item.Car_model</td>
                            <td>@item.Color</td>
                            <td>@item.Year</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</body>
</html>